@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #f9fafb;
}

h1,
h2,
h3,
label {
  font-family: "Krona One", sans-serif;
}

.navbar-nav > .active > a {
  color: rgb(53, 81, 173);
}

.img-container {
  position: relative;
}
.img-container:hover {
  background: rgba(10, 10, 10, 0.8);
}

.image {
  position: relative;
  z-index: -1;
}

.img-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.5s, visibility 0.5s;
}

.toggle {
  display: none;
}

.img-container:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 500px;
}








@media (max-width: 1200px) {
  .navbar {
    width: 100vw;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }

  .open {
    display: block;
  }

  .close {
    color: #fff;
  }

  .toggle .close {
    display: none;
  }

  .show .open {
    display: none;
  }

  .show .close {
    display: block;
    position: relative;
    z-index: 20;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.9);
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
  }

  .navbar-nav {
    border: none;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav-link {
    color: white;
    text-transform: uppercase;
  }

  .show .menu {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  nav {
    width: 100vw !important;
  }

  #projects {
    height: 100%;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}
